

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
suppose this below one css variable to work in nextUI configuration
*/
:root {
    --next-baseFive: 52 2% 51%;
}
@layer base {
    :root {
        --baseOne: #e8c260;
        --baseTwo: hsl(252, 2%, 51%);
        --baseThree: hsl(0, 0%, 96%);
        --baseFour: hsl(0, 0%, 100%);
        --accent1: hsl(6, 100%, 80%);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --baseOne: hsl(229, 57%, 11%);
            --baseTwo: hsl(243, 100%, 93%);
            --baseThree: hsl(228, 56%, 26%);
            --baseFour: hsl(229, 57%, 11%);
            --accent1: hsl(6, 100%, 80%);
        }
    }

    :root[data-theme="dark"] {
        --baseOne: hsl(229, 57%, 11%);
        --baseTwo: hsl(243, 100%, 93%);
        --baseThree: hsl(228, 56%, 26%);
        --baseFour: hsl(229, 57%, 11%);
        --accent1: hsl(6, 100%, 80%);
    }

    :root[data-theme="light"] {
        --baseOne: hsl(87, 66%, 67%);
        --baseTwo: hsl(252, 2%, 51%);
        --baseThree: hsl(0, 58%, 35%);
        --baseFour: hsl(0, 0%, 100%);
        --accent1: hsl(6, 100%, 80%);
    }

    :root[data-theme="modern"] {
        --baseOne: hsl(167, 74%, 72%);
        --baseTwo: hsl(140, 49%, 60%);
        --baseThree: hsl(270, 73%, 62%);
        --baseFour: hsl(0, 78%, 82%);
        --accent1: hsl(7, 91%, 18%);
    }

    html {
        @apply scroll-smooth transition-colors duration-300;
    }

    body {
        @apply max-w-[1920px] mx-auto transition-all duration-200;
    }
}